@model IEnumerable<ProyectoHospital.Models.Habitaciones>

@{
    ViewBag.Title = "Index";
}

<head>
    <link href="~/css/style.css" rel="stylesheet"/>
</head>

<br />
<body>
 
    <a class="card-header">
        <span class="text-success"> @Html.ActionLink("Create New", "Create")</span>
    </a>
    <br />
    <a> @Html.ActionLink("Crear Reporte", "Imprimir")</a>
    <br />

    <div class="buscador card-header  mb-3">
        <br />
        <form action="Habitaciones" method="get">
            <input type="text" name="consulta" placeholder="Valor a buscar" />
            <input class="btn btn-default" type="submit" value="BUSCAR" />
        </form>
    </div>
    <br />
    <table class="table table-striped table-hover table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>

                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |

                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</body>